input
{
margin: 10px;
}

body
{
background-color:tan;
}

#submitbutton
{
margin-top: 20px;
margin-bottom: 20px;
}

#sortbutton
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}